{% extends 'base.html' %}
{% block content %}
<div class = "card text-center text-white bg-dark p-3">
    <h2 class="fs-1">Jednoręki bandyta</h2>
    <p>Stan konta: <strong>{{ user.balance }}</strong></p>

    {% if result %}
        <div class="alert alert-{% if 'WIELKA WYGRANA!' in result or 'WYGRANA!' in result %}success{% elif 'PRZEGRANA.' in result %}danger{% else %}warning{% endif %}">
            <h3>{{ result }}</h3>
        </div>
    {% endif %}
    <div class="card-group p-4">
        <div class="card bg-dark">
            <img class="card-img-top" src="./static/{{ slot_1 }}.png">
        </div>
        <div class="card bg-dark">
            <img class="card-img-top" src="./static/{{ slot_2 }}.png">
        </div>
        <div class="card bg-dark">
            <img class="card-img-top" src="./static/{{ slot_3 }}.png">
        </div>
    </div>
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="row">
            <div class="mb-3">
                <label>Stawka</label>
                <input type="number" name="bet" class="form-control fs-2" min="1" max="{{ user.balance }}" value="10" required>
            </div>
        </div>
        <button type="submit" class="btn btn-lg btn-danger fs-2"><strong>Zakręć!</strong></button>
    </form>
</div>
{% endblock %}