{% extends 'base.html' %}
{% block content %}
<div class="card text-white bg-dark p-3">
    <h2 class="fs-1">Logowanie</h2>
    <hr>
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="mb-3">
            <label>Nazwa użytkownika</label>
            <input type="text" name="username" class="form-control fs-2" required>
        </div>
        <div class="mb-3">
            <label>Hasło</label>
            <input type="password" name="password" class="form-control fs-2" required>
        </div>
        <button type="submit" class="btn btn-secondary fs-2"><strong>Zaloguj</strong></button>
    </form>
</div>
{% endblock %}