{% extends 'base.html' %}
{% block content %}
<div class="card text-white bg-dark p-3">
    <div class="card-body">
        <h2 class="fs-1">Profil: {{ user.username }}</h2>
        <hr>
        <p class="card-title">Stan konta: {{ user.balance }} PLN <a href="/bliczek" class="btn btn-outline-success fs-2">Doładuj</a></p>
        <hr>
        {% if user.otp_secret %}
            <p class="text-success">Uwierzytelnianie dwuetapowe jest włączone.</p>
        {% else %}
            <p class="text-danger">Uwierzytelnianie dwuetapowe jest wyłączone. Zadbaj o bezpieczeństwo.</p>
            <a href="/setup-2fa" class="btn btn-outline-danger fs-2">Włącz 2FA teraz</a>
        {% endif %}
    </div>
</div>
{% endblock %}