{% extends 'base.html' %}
{% block content %}
<div class="card text-center text-white bg-dark p-3">
    <h2 class="fs-1">Konfiguracja 2FA</h2>
    <hr>
    <p>Zeskanuj poniższy kod QR w aplikacji Google Authenticator lub Authy:</p>
    <div>
        <img src="data:image/png;base64,{{ qr_b64 }}" alt="QR Code" class="img-thumbnail mb-3">
    </div>
    <p>Lub wpisz ręcznie klucz konfiguracyjny: <strong>{{ secret }}</strong></p>
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="hidden" name="secret" value="{{ secret }}">
        <div class="mb-3">
            <label>Wpisz kod z aplikacji, aby potwierdzić:</label>
            <input type="text" name="token" class="form-control fs-2" placeholder="123456" required>
        </div>
        <button type="submit" class="btn btn-success fs-2">Włącz 2FA</button>
    </form>
</div>
{% endblock %}